body{
    margin: 0;
    text-align: center;
    font-family: 'fredoka',sans-serif;
    color: #40514E;
    font-size:large;
}
.header{
position: relative;
}
.pro{
    margin-top: 30px;
}
.intro{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
h5{
    margin-top:50px;
    margin-bottom: 0px;
    font-size: 30px;
}
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 10%;

}
.middle-container{

}
.bottom-container{
margin-top: 10px;
background-color: powderblue;
padding-bottom:16px ;
padding-top: 30px;
}
.footer-link{
    color:green;
    text-decoration: none;
    margin:10px 20px;
}
.copy{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding:20px 0px;
}
.skill-row{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.code,.web{
    float: left;
    width: 30%;
    margin-right: 30px;
}
.p{
    clear: left;
    line-height: 2;
}

.mount{
    width: 200px;
    height: 200px;
}
.cl2{
    position:absolute;
    left: 50px;
    bottom: 150px;
}
.cl1{
    position: absolute;
    right: 50px;
    top: 25px;
}
.contact2{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.btn {
   border: 2px solid green;
   background-color: gold;
   text-decoration: none;
   color: skyblue;
   padding: 4px;
   border-radius: 10px;
    
  }
  
  .btn:hover {
    background-color: aqua;
    
  }
